# =========================
#   PRODUCTION ENVIRONMENT
# =========================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=backCripta
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:change_me_postgres_password@db:5432/backCripta

MONGO_URL=mongodb://mongo:27017/cripta-db

PORT=3000
PUBLIC_DOMAIN=cripta.example.com
NGINX_SERVER_NAME=cripta.example.com www.cripta.example.com
FRONTEND_URL=https://cripta.example.com
VITE_API_URL=https://cripta.example.com/api
TLS_CERTIFICATE=/etc/letsencrypt/live/cripta.example.com/fullchain.pem
TLS_CERTIFICATE_KEY=/etc/letsencrypt/live/cripta.example.com/privkey.pem

ADMIN_PASSWORD=change_me_admin_password

JWT_SECRET=change_me_long_random_secret
JWT_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=tu_client_id
GOOGLE_CLIENT_SECRET=tu_client_secret
GOOGLE_CALLBACK_URL=https://cripta.example.com/api/auth/google/callback

TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_CHANNEL=lacriptadedogeclub

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
