# =========================
#   ENVIRONMENT VARIABLES
# =========================

# POSTGRESQL CONFIGURATION
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=backCripta
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/backCripta

# MONGODB CONFIGURATION
MONGO_URL=mongodb://mongo:27017/cripta-db

# JWT CONFIGURATION
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

# TWITCH API
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_CHANNEL=lacriptadedogeclub

# FRONTEND
VITE_API_URL=http://localhost:8080/api
