DATABASE_URL=postgresql://postgres:postgres@localhost:5432/backCripta
ADMIN_PASSWORD=InsertarPassAqui
MONGO_URL=mongodb://localhost:27017/backCripta
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=1d